In [ ]:
df <- data.table("selection" = c(1,2,3,4,5), 
                 "filter" = c('a','a','b','c','b'), 
                 "value" = c(111, 222, 333, 444, 555))
df[.N]
df['selection' == 1, .N]
df[, .N, 'filter']
df['selection' == 1 | 'selection' == 2, list(.N, sum(value)), keyby = list('filter')]

In [1]:
import pandas as pd
df = pd.DataFrame({'selection': [1,2,3,4,5,6], 
                   'filter': ['a', 'a', 'b', 'b', 'c', 'c'], 
                   'filter2': ['a', 'b', 'c', 'a', 'b', 'c'], 
                   'value': [111, 222, 333, 444, 555, 666]})

In [3]:
df

  filter filter2  selection  value
0      a       a          1    111
1      a       b          2    222
2      b       c          3    333
3      b       a          4    444
4      c       b          5    555
5      c       c          6    666

In [2]:
df.shape

(6, 4)

In [5]:
df[df['selection'] == 1]

  filter filter2  selection  value
0      a       a          1    111

In [9]:
df.groupby('filter').agg(sum)

        selection  value
filter
a               3    333
b               7    777
c              11   1221

In [8]:
df.groupby('filter').agg(lambda x: sum(x))

        selection  value
filter
a               3    333
b               7    777
c              11   1221

In [13]:
df[df['selection'] < 5].groupby('filter').agg(lambda x: sum(x))

        selection  value
filter
a               3    333
b               7    777

In [14]:
df[(df['selection'] < 5) & (df['selection'] > 1)].groupby(['filter', 'filter2']).agg('mean')

                selection  value
filter filter2
a      b                2    222
b      a                4    444
       c                3    333